:root {
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);

  --brown800: hsl(14, 45%, 36%);

  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}
@font-face {
  font-family: young-serif;
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@font-face {
  font-family: outfit;
  src: url('assets/fonts/outfit/static/Outfit-Regular.ttf');
}
@font-face {
  font-family: outfit;
  font-weight: 600;
  src: url('assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}
@font-face {
  font-family: outfit;
  font-weight: 700;
  src: url('assets/fonts/outfit/static/Outfit-Bold.ttf');
}
body {
  background-color: var(--stone100);
  font-size: 1rem;
  font-family: outfit;
  color: var(--stone600);
  line-height: 1.5;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#recipe-card {
  display: inline-block;
  background-color: white;
  width: 46rem;
  border-radius: 2rem;
  padding: 2.5rem;
  box-sizing: border-box;
  margin: 6.75rem 0;
}
.img-clip {
  overflow: hidden;
}

.img-clip img {
  min-height: 100%;
  width: 100%;
}
img {
  border-radius: 1rem;
  height: auto;
}
h1 {
  font-family: young-serif;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 1;
  color: var(--stone900);
}
h2 {
  font-family: young-serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: var(--brown800);
  margin-bottom: 1rem;
}
#recipe-preparation {
  border-radius: 1rem;
  background-color: var(--rose50);
  padding: 1.875rem;
  box-sizing: border-box;
  margin-top: 2rem;
}
#recipe-preparation > h3 {
  font-size: 1.25rem;
  margin: 0;
  color: var(--rose800);
  margin-bottom: 0;
}
ul {
  list-style-type: disc;
  padding: 0;
  padding-left: 0.25rem;
  margin-left: 1rem;
  margin-top: 0.83rem;
  margin-bottom: 0;
  line-height: 2;
}
li {
  padding-left: 1.5rem;
}
li::marker {
  color: var(--rose800);
  font-size: 0.875rem;
}
#recipe-ingredients {
  margin-bottom: 1.5rem;
}
#recipe-ingredients > li::marker {
  color: var(--stone600);
}
hr {
  opacity: 0.25;
}
ol {
  padding: 0;
  padding-left: 0.25rem;
  margin-left: 1rem;
  margin-top: 0.83rem;
  margin-bottom: 1.5rem;
}
ol > li {
  padding-bottom: 0.625rem;
}
ol > li::marker {
  font-weight: 700;
}
table {
  width: calc(100% - 5rem);
  margin-top: -0.5rem;
}
tr {

}
td {
  width: 50%;
  text-indent: 1rem;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.25);
  padding: 0.83rem;
}
td + td {
  color: var(--brown800);
  font-weight: 700;

}
tr:last-child td {
  border: none;
}
@media (max-width: 450px) {
  .container {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #recipe-card {
    max-width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .img-clip {
    transform: scale(1.35,1.35) translateY(-1rem);
  }
  img {
    border-radius: 0;
  }
}
